<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>GAMESTART2.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,0},{780,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{780,200}}</string>
			<key>sourceSize</key>
			<string>{780,200}</string>
		</dict>
		<key>GAMESTART2_tapped.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,780},{780,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{780,200}}</string>
			<key>sourceSize</key>
			<string>{780,200}</string>
		</dict>
		<key>GAMESTART_tapped.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,0},{780,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{780,200}}</string>
			<key>sourceSize</key>
			<string>{780,200}</string>
		</dict>
		<key>MOVIE2.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,948},{948,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{948,200}}</string>
			<key>sourceSize</key>
			<string>{948,200}</string>
		</dict>
		<key>MOVIE2_tapped.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{948,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{948,200}}</string>
			<key>sourceSize</key>
			<string>{948,200}</string>
		</dict>
		<key>RANKING2.png</key>
		<dict>
			<key>frame</key>
			<string>{{866,0},{648,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{648,200}}</string>
			<key>sourceSize</key>
			<string>{648,200}</string>
		</dict>
		<key>RANKING2_tapped.png</key>
		<dict>
			<key>frame</key>
			<string>{{799,729},{648,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{648,200}}</string>
			<key>sourceSize</key>
			<string>{648,200}</string>
		</dict>
		<key>SETTING2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1066,0},{644,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{644,200}}</string>
			<key>sourceSize</key>
			<string>{644,200}</string>
		</dict>
		<key>SETTING2_tapped.png</key>
		<dict>
			<key>frame</key>
			<string>{{999,648},{644,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{644,200}}</string>
			<key>sourceSize</key>
			<string>{644,200}</string>
		</dict>
		<key>bgPause.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,1377},{226,392}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{226,392}}</string>
			<key>sourceSize</key>
			<string>{226,392}</string>
		</dict>
		<key>btnBackToMenu.png</key>
		<dict>
			<key>frame</key>
			<string>{{733,0},{729,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{729,133}}</string>
			<key>sourceSize</key>
			<string>{729,133}</string>
		</dict>
		<key>btnBackToMenu_tapped.png</key>
		<dict>
			<key>frame</key>
			<string>{{666,729},{729,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{729,133}}</string>
			<key>sourceSize</key>
			<string>{729,133}</string>
		</dict>
		<key>btnBackToTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{600,0},{729,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{729,133}}</string>
			<key>sourceSize</key>
			<string>{729,133}</string>
		</dict>
		<key>btnBackToTitle_tapped.png</key>
		<dict>
			<key>frame</key>
			<string>{{533,780},{729,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{729,133}}</string>
			<key>sourceSize</key>
			<string>{729,133}</string>
		</dict>
		<key>btnGameStart.png</key>
		<dict>
			<key>frame</key>
			<string>{{200,1560},{275,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{275,50}}</string>
			<key>sourceSize</key>
			<string>{275,50}</string>
		</dict>
		<key>btnPause.png</key>
		<dict>
			<key>frame</key>
			<string>{{799,1377},{86,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,86}}</string>
			<key>sourceSize</key>
			<string>{86,86}</string>
		</dict>
		<key>btnPause_tapped.png</key>
		<dict>
			<key>frame</key>
			<string>{{781,1778},{86,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{86,86}}</string>
			<key>sourceSize</key>
			<string>{86,86}</string>
		</dict>
		<key>btnPlay.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,780},{729,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{729,133}}</string>
			<key>sourceSize</key>
			<string>{729,133}</string>
		</dict>
		<key>btnPlay_tapped.png</key>
		<dict>
			<key>frame</key>
			<string>{{140,1896},{729,133}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{729,133}}</string>
			<key>sourceSize</key>
			<string>{729,133}</string>
		</dict>
		<key>btnReset.png</key>
		<dict>
			<key>frame</key>
			<string>{{947,1769},{265,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{265,78}}</string>
			<key>sourceSize</key>
			<string>{265,78}</string>
		</dict>
		<key>btnReset_tapped.png</key>
		<dict>
			<key>frame</key>
			<string>{{869,1778},{265,78}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{265,78}}</string>
			<key>sourceSize</key>
			<string>{265,78}</string>
		</dict>
		<key>btnStart.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,1896},{140,140}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{140,140}}</string>
			<key>sourceSize</key>
			<string>{140,140}</string>
		</dict>
		<key>btnTweet.png</key>
		<dict>
			<key>frame</key>
			<string>{{1025,1769},{259,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,110}}</string>
			<key>sourceSize</key>
			<string>{259,110}</string>
		</dict>
		<key>btnTweet_tapped.png</key>
		<dict>
			<key>frame</key>
			<string>{{522,1778},{259,110}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{259,110}}</string>
			<key>sourceSize</key>
			<string>{259,110}</string>
		</dict>
		<key>gauge01.png</key>
		<dict>
			<key>frame</key>
			<string>{{2321,400},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge02.png</key>
		<dict>
			<key>frame</key>
			<string>{{2148,1000},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge03.png</key>
		<dict>
			<key>frame</key>
			<string>{{2057,1200},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge04.png</key>
		<dict>
			<key>frame</key>
			<string>{{1857,1802},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge05.png</key>
		<dict>
			<key>frame</key>
			<string>{{1857,1602},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge06.png</key>
		<dict>
			<key>frame</key>
			<string>{{1857,1402},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge07.png</key>
		<dict>
			<key>frame</key>
			<string>{{2121,800},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge08.png</key>
		<dict>
			<key>frame</key>
			<string>{{2121,600},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge09.png</key>
		<dict>
			<key>frame</key>
			<string>{{2188,200},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge10.png</key>
		<dict>
			<key>frame</key>
			<string>{{2188,0},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge11.png</key>
		<dict>
			<key>frame</key>
			<string>{{2121,400},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge12.png</key>
		<dict>
			<key>frame</key>
			<string>{{1948,1000},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge13.png</key>
		<dict>
			<key>frame</key>
			<string>{{1857,1202},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge14.png</key>
		<dict>
			<key>frame</key>
			<string>{{1657,1805},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge15.png</key>
		<dict>
			<key>frame</key>
			<string>{{1135,1769},{202,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{202,200}}</string>
			<key>sourceSize</key>
			<string>{202,200}</string>
		</dict>
		<key>gauge16.png</key>
		<dict>
			<key>frame</key>
			<string>{{1657,1605},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge17.png</key>
		<dict>
			<key>frame</key>
			<string>{{1657,1405},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge18.png</key>
		<dict>
			<key>frame</key>
			<string>{{1921,800},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge19.png</key>
		<dict>
			<key>frame</key>
			<string>{{1921,600},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge20.png</key>
		<dict>
			<key>frame</key>
			<string>{{1988,200},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge21.png</key>
		<dict>
			<key>frame</key>
			<string>{{1988,0},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge22.png</key>
		<dict>
			<key>frame</key>
			<string>{{1457,1316},{201,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,200}}</string>
			<key>sourceSize</key>
			<string>{201,200}</string>
		</dict>
		<key>gauge23.png</key>
		<dict>
			<key>frame</key>
			<string>{{1921,400},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge24.png</key>
		<dict>
			<key>frame</key>
			<string>{{1521,804},{201,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,200}}</string>
			<key>sourceSize</key>
			<string>{201,200}</string>
		</dict>
		<key>gauge25.png</key>
		<dict>
			<key>frame</key>
			<string>{{1521,603},{201,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,200}}</string>
			<key>sourceSize</key>
			<string>{201,200}</string>
		</dict>
		<key>gauge26.png</key>
		<dict>
			<key>frame</key>
			<string>{{1588,201},{201,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,200}}</string>
			<key>sourceSize</key>
			<string>{201,200}</string>
		</dict>
		<key>gauge27.png</key>
		<dict>
			<key>frame</key>
			<string>{{1748,1002},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge28.png</key>
		<dict>
			<key>frame</key>
			<string>{{1588,0},{201,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,200}}</string>
			<key>sourceSize</key>
			<string>{201,200}</string>
		</dict>
		<key>gauge29.png</key>
		<dict>
			<key>frame</key>
			<string>{{1657,1205},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge30.png</key>
		<dict>
			<key>frame</key>
			<string>{{1721,802},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge31.png</key>
		<dict>
			<key>frame</key>
			<string>{{1721,602},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge32.png</key>
		<dict>
			<key>frame</key>
			<string>{{1521,402},{201,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,200}}</string>
			<key>sourceSize</key>
			<string>{201,200}</string>
		</dict>
		<key>gauge33.png</key>
		<dict>
			<key>frame</key>
			<string>{{1788,200},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge34.png</key>
		<dict>
			<key>frame</key>
			<string>{{1348,1115},{201,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,200}}</string>
			<key>sourceSize</key>
			<string>{201,200}</string>
		</dict>
		<key>gauge35.png</key>
		<dict>
			<key>frame</key>
			<string>{{1321,914},{201,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,200}}</string>
			<key>sourceSize</key>
			<string>{201,200}</string>
		</dict>
		<key>gauge36.png</key>
		<dict>
			<key>frame</key>
			<string>{{1321,713},{201,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,200}}</string>
			<key>sourceSize</key>
			<string>{201,200}</string>
		</dict>
		<key>gauge37.png</key>
		<dict>
			<key>frame</key>
			<string>{{1788,0},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge38.png</key>
		<dict>
			<key>frame</key>
			<string>{{1388,201},{201,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,200}}</string>
			<key>sourceSize</key>
			<string>{201,200}</string>
		</dict>
		<key>gauge39.png</key>
		<dict>
			<key>frame</key>
			<string>{{1721,402},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gauge40.png</key>
		<dict>
			<key>frame</key>
			<string>{{1457,1717},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gaugeGood.png</key>
		<dict>
			<key>frame</key>
			<string>{{1457,1517},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gaugeGreat.png</key>
		<dict>
			<key>frame</key>
			<string>{{1388,0},{201,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,200}}</string>
			<key>sourceSize</key>
			<string>{201,200}</string>
		</dict>
		<key>gaugeMISS.png</key>
		<dict>
			<key>frame</key>
			<string>{{1321,512},{201,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,200}}</string>
			<key>sourceSize</key>
			<string>{201,200}</string>
		</dict>
		<key>gaugeOK.png</key>
		<dict>
			<key>frame</key>
			<string>{{1548,1005},{200,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{200,200}}</string>
			<key>sourceSize</key>
			<string>{200,200}</string>
		</dict>
		<key>gaugePerfect.png</key>
		<dict>
			<key>frame</key>
			<string>{{1148,1292},{201,200}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{201,200}}</string>
			<key>sourceSize</key>
			<string>{201,200}</string>
		</dict>
		<key>labelPauseLogo.png</key>
		<dict>
			<key>frame</key>
			<string>{{1266,0},{512,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,122}}</string>
			<key>sourceSize</key>
			<string>{512,122}</string>
		</dict>
		<key>labelPauseTitle.png</key>
		<dict>
			<key>frame</key>
			<string>{{1335,1493},{512,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{512,122}}</string>
			<key>sourceSize</key>
			<string>{512,122}</string>
		</dict>
		<key>labelResultLogo.png</key>
		<dict>
			<key>frame</key>
			<string>{{1199,644},{600,122}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{600,122}}</string>
			<key>sourceSize</key>
			<string>{600,122}</string>
		</dict>
		<key>locked.png</key>
		<dict>
			<key>frame</key>
			<string>{{522,1509},{400,269}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{400,269}}</string>
			<key>sourceSize</key>
			<string>{400,269}</string>
		</dict>
		<key>logoAction.png</key>
		<dict>
			<key>frame</key>
			<string>{{250,1560},{272,272}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{272,272}}</string>
			<key>sourceSize</key>
			<string>{272,272}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>cell.png</string>
		<key>size</key>
		<string>{4096,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:7846f6c5d15411d9ee1a3a4bb581a320:1/1$</string>
		<key>textureFileName</key>
		<string>cell.png</string>
	</dict>
</dict>
</plist>
